{% extends 'base.html.twig' %}

{% block title %}
	The District - Connexion
{% endblock %}

{% block body %}
	<div class="flex flex-col justify-center items-center">
		<div class="text-6xl text-visible mb-8">Connexion</div>
		<form method="post" class="grid gap-4 p-10 rounded-xl shadow-md bg-secondary text-dark text-xl w-full max-w-[600px]">
			{% if error %}
				<span class="bg-red-500 text-dark">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
			{% endif %}

			<div class="flex flex-col">
				<label for="inputEmail">Email*</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Saisissez une adresse e-mail" class="w-full">
			</div>

			<div class="flex flex-col">
				<label for="inputPassword">Mot de passe*</label>
				<input type="password" name="password" id="inputPassword" placeholder="Saisissez un mot de passe" class="w-full">
			</div>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<div class="flex justify-end">
				<label class="flex items-center">
					<input type="checkbox" name="_remember_me" class="mx-2">
					<span>Se souvenir de moi</span>
				</label>
			</div>
			<input class="w-full themedButton" type="submit" value="Connexion">
		</form>
	</div>
{% endblock %}