{% extends 'base.html.twig' %}

{% block title %}The District - Politique de confidentialité
{% endblock %}

{% block body %}
	<div class="flex flex-col gap-y-4 text-visible">
		<ul class="list-unstyled">
			<span class="text-4xl underline">Mentions légales</span>
			<li class="text-justify">Ces mentions légales sont conformes à la législation en vigueur et peuvent être modifiées sans préavis.</li>
			<li class="text-justify">Veuillez consulter cette page régulièrement pour vous tenir informé des éventuelles mises à jour.</li>
			<li class="text-justify">Pour toute question ou demande d'information concernant ces mentions légales, veuillez nous contacter aux coordonnées fournies ci-dessous.</li>
			<li class="text-justify">Date de dernière mise à jour des mentions légales : 20 juin 2023.</li>
		</ul>
		<ul class="list-unstyled">
			<span class="text-3xl underline">I. Éditeur du site thedistrict.com</span>
			<li class="text-justify">Identité de l'entreprise : The District</li>
			<li class="text-justify">Nom du propriétaire : Lafpa</li>
			<li class="text-justify">Prénom du propriétaire : Damien</li>
			<li class="text-justify">Adresse : 30 rue de Poulainville, 80000 Amiens</li>
			<li class="text-justify">Statut : Entrepreneur individuel (EI)</li>
			<li class="text-justify">Numéro d'immatriculation au RCS : 123456789</li>
		</ul>
		<ul class="list-unstyled">
			<span class="text-3xl underline">II. Contact</span>
			<li class="text-justify">Adresse e-mail : contact@thedistrict.com</li>
			<li class="text-justify">Numéro de téléphone : +33 1 23 45 67 89</li>
			<li class="text-justify">Numéro d'identification à la TVA : FR123456789</li>
		</ul>
		<ul class="list-unstyled">
			<span class="text-3xl underline">III. Hébergeur</span>
			<li class="text-justify">Nom ou dénomination sociale de l'hébergeur : Amorce Services</li>
			<li class="text-justify">Adresse : 30 rue de l'Amorce, 80000 Amiens</li>
			<li class="text-justify">Numéro de téléphone : +33 9 87 65 43 21</li>
			<li class="text-justify">
				<a href="https://amorce.org/" class="text-blue-500 underline">https://amorce.org/</a>
			</li>
		</ul>
		<ul class="list-unstyled">
			<span class="text-3xl underline">IV. Autorité de réglementation</span>
			<li class="text-justify">Nom de l'autorité compétente : Autorité de la Restauration et des Boissons (ARB)</li>
			<li class="text-justify">Adresse de l'autorité compétente : 30 rue de la Boisson, 80000 Amiens</li>
		</ul>
		<ul class="list-unstyled">
			<span class="text-3xl underline">V. Politique de confidentialité et protection de la vie privée</span>
			<li class="text-justify">Le site
				<a href="index.php">www.thedistrict.com</a>
				est déclaré sous le numéro 1234567 auprès de la Commission Nationale Informatique et Libertés (CNIL).</li>
			<li class="text-justify">Les informations recueillies font l'objet d'un traitement informatique destiné à créer une base de données d'utilisateurs. Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, vous bénéficiez d'un droit d'accès et de rectification aux informations qui vous concernent, que vous pouvez exercer soit par voie postale soit la voie de notre formulaire de contact. Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant.</li>
			<li class="text-justify">Nous vous invitons à consulter notre
				<a href="politique.php">politique de confidentialité</a>
				pour en savoir plus sur l'origine et l'usage des données de navigation traitées à l'occasion de votre consultation et utilisation du site The District, et sur vos droits y afférent.</li>
		</ul>
	</div>
{% endblock %}
