<div class="min-h-[500px] h-full w-[400px] flex flex-col rounded-3xl shadow-md shadow-accent/20 overflow-hidden hover:scale-105 hover:shadow-lg hover:shadow-accent/20 hover:cursor-pointer">
	<img src="{{ asset(unPlat.image, 'plats') }}" alt="{{ unPlat.image }}" class="min-h-[400px] w-full object-cover">
	<div class="flex grow justify-center items-center p-5 text-accent text-5xl text-center font-thin">{{ unPlat.libelle }}</div>
</div>
