<div class="foodCard" onclick="location.href='{{ path('app_categories.id', {id: uneCategorie.id}) }}'">
	<img src="{{ asset(uneCategorie.image, 'categories') }}" alt="{{ uneCategorie.image }}">
	<div>{{ uneCategorie.libelle }}</div>
</div>
