{% extends 'base.html.twig' %}

{% block title %}
	The District - Catégories
{% endblock %}

{% block body %}
	<div class="w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 py-8 place-items-center">
		{% for uneCategorie in lesCategories %}
			{% embed 'components/component.cardCategorie.html.twig' %}{% endembed %}
		{% endfor %}
	</div>
{% endblock %}
