{% extends 'base.html.twig' %}

{% block title %}The District - Catégories
{% endblock %}

{% block body %}
	<div class="w-full grid grid-cols-3 gap-16 py-16 px-32 place-items-center">
		{% for uneCategorie in lesCategories %}
			{% embed 'categories/component.cardCategorie.html.twig' %}{% endembed %}
		{% endfor %}
	</div>
{% endblock %}
