{% extends 'base.twig' %}

{% block title %}The District - Plats
{% endblock %}

{% block body %}
	<div class="w-full grid grid-cols-3 gap-16 py-16 px-32 place-items-center">
		{% for unPlat in lesPlats %}
			{% embed 'plats/component.cardPlat.twig' %}{% endembed %}
		{% endfor %}
	</div>
{% endblock %}
