{% extends 'base.html.twig' %}
{% block title %}
	Hello AccueilController!
{% endblock %}
{% block body %}
	<div class="text-6xl py-8 text-visible">Les catégories populaires</div>
	<div class="w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 place-items-center">
		{% for uneCategorie in lesCategories %}
			{% embed 'components/component.cardCategorie.html.twig' with { uneCategorie: uneCategorie[0] } %}{% endembed %}
		{% endfor %}
	</div>
	<div class="text-6xl py-8 text-visible">Les plats populaires</div>
	<div class="w-full grid grid-cols-1 xl:grid-cols-2 gap-8 pb-8 place-items-center">
		{% for unPlat in lesPlats %}
			{% embed 'components/component.cardPlat.html.twig' with { unPlat: unPlat[0] } %}{% endembed %}
		{% endfor %}
	</div>
{% endblock %}
