{% extends 'base.html.twig' %}
{% form_theme form 'form/theme.html.twig' %}

{% block title %}
	The District - Contact
{% endblock %}
{% block body %}
	<div class="flex flex-col justify-center items-center">
		<div class="text-6xl text-visible mb-8">Formulaire de contact</div>
		{{ form_start(form, {'attr': {'class': 'grid gap-4 p-10 rounded-xl shadow-md bg-secondary text-dark text-xl w-full max-w-[600px]'}}) }}
		{{ form_end(form) }}
	</div>
{% endblock %}
