<div class="cardCategorie" onclick="location.href='{{ path('app_foods.categorie', { categorie: categorie.id }) }}'">
	<img src="{{ asset(categorie.image, 'categories') }}" alt="{{ categorie.image }}"/>
	<div>{{ categorie.libelle }}</div>
</div>
