{% apply inline_css %}
<style>
	img {
		height: 32px;
		width: 32px;
	}
</style>

<img src="{{ email.image('@icons/logo.svg') }}"/>
<h3>{{ message|nl2br }}</h3>
<img src="{{ email.image('@icons/logo.svg') }}"/>
{% endapply %}
